* {
  padding:0;
  margin:0;
}
button {
  outline: none;
   border:0;
   cursor: pointer;
}

/*habit*/
.habit {
  font-size : 2.5rem;
  padding:0.5em;
  list-style:none;
}
.habit-count {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width:2.5rem;
  height:2.5rem;
  line-height: 2.4rem;
  margin-left: 0.2em;
  margin-right:0.5em;
  background-color: darkseagreen;
  color:white;
  border-radius: 50%;
}
.habit-button {
  font-size: 2.5rem;
  margin:0 0.1em;
  background-color: transparent;
}
.habit-button:hobeer {
  opacity: 0.8;
}

.habit-increase, 
.habit-decrease {
  color:goldenrod;
}

.habit-delete {
  font-size: 2rem;
  vertical-align: baseline;
  color: darkred;
}

/*app*/
.navBar {
  font-size:2rem;
  background:blanchedalmond;
  padding:2rem;
}
.navBar p {
  display:inline;
  padding:1rem;
}
.fa-leaf {
  color:#007502;
}
.result-count, .addBtn, .resultBtn, .resetBtn {
  background:#007502;
}

form {
  padding:2rem 0 0 1rem;
}
form > input, form > button {
  padding: 0.5rem;
  font-size:1.5rem;
}
.inputText {
  margin-right: 0.5rem;
}
.addBtn, .resultBtn, .resetBtn {
  border-radius: 5px;
  border:none;
  color:#fff;
  cursor: pointer;
}
.resetBtn {
  padding:0.5rem 1rem ;
  font-size: 1rem;
  margin-left:0.5rem;
}
