.header {
    display: flex;
    align-items: center;
    background-color: #385461;
    justify-content: center;
    padding:1rem;
    color:#fff;
}

.header img {
    width:3rem;
    margin-right: 0.5rem;;
}