@value makerBlack, makerWhite from '../../common/colors.css';

.form {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    border-top:1px solid makerBlack;
    border-left:1px solid makerBlack;
    margin-bottom:1em;
    
}

.input, 
.textarea,
.select,
.btn,
.imgInput {
    font-size: 0.8em;
    width:100%;
    border:0;
    padding:0.5em;
    border-bottom: 1px solid makerBlack;
    border-right:1px solid makerBlack;
    background: makerWhite;
}

.imgInput {
    padding:0;
    flex:1 1 50%;
}

.input,
.select {
    flex : 1 1 30%;
}

.input:focus, 
.textarea:focus,
.select:focus,
.btn:focus {
    outline: 0;
}

.textarea {
    flex-basis: 100%;
}