header {
    width:100%;
    height:80px;
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DAEFF5;
}
.logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}
.logo > span {
    margin: 0 10px;
    color:#fff;
}
.logo > img {
    width:35px;
    height:35px;
}

.form {
    display: flex;
    width:70%;
}
.search {
    width: 90%;
    border:none;
    padding:10px;
    border-radius: 5px;
    margin: 0 5px;
}
.searchBtn {
    width:35px;
    height: 35px;
    background-color: #B1AFCD;
    vertical-align: middle;
}
.searchIcon{
    width:60%;
}