.cardMaker {
    box-sizing: border-box;
    width:50%;
    padding:1rem 2rem;
    overflow-y : auto;
}

.form {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    margin:2rem 0;
}

.form input {
    flex : 1  1 30%;
}

.form textarea {
    width:100%;
}

.form button {
    width: 50%;
    border:none;
    padding:0.5rem 1rem;
    cursor: pointer;
}

.img {
    background-color: #ffe7e8;
}

.del {
    background-color: #385461;
    color:#fff;
}