@value makerGreen from '../../common/colors.css';

.cardMaker {
    flex-basis: 50%;
    background-color: #eee;
    padding:0.5em 2em;
    border-right: 1px solid #fff;
    overflow-y: auto;
}

.title {
    width:100%;
    text-align: center;
    margin-bottom: 1em;
    color: makerGreen;
}

ul {
    margin: 0;
    padding:0;
}

