* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.app {
    width:70%;
    margin:auto;
    text-align: center;
    max-width: 80rem;
}
button {
    border:none;
    border-radius: 5px;
    cursor: pointer;
}
li {
    list-style: none;
}

section {
    background-color: #eee;
    width:100%;
}
